<div class="d-flex flex-column justify-content-center align-items-center pt-5">
  <% if current_user.present? %>
    <% if current_user.admin? %>
      <%= link_to "Admin Dashboard", admin_root_path, class: "btn btn-lg btn-primary rounded-pill" %>
    <% elsif current_user.mentor? %>
      <%= render partial: 'mentor', locals: { user: current_user } %>
    <% elsif current_user.student? %>
      <%= render partial: 'student', locals: { user: current_user } %>
    <% else %>
      <h1 class="">Welcome</h1>
      <h3>Hello Users!!! Welcome to our Application 2</h3>
    <% end %>
    <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <!-- Display content for guests (not logged in) -->
    <h1 class="">Welcome</h1>
    <h3>Hello Users!!! Welcome to our Application</h3>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary rounded-pill" %>
  <% end %>
</div>
